Estatura: @ViewBag.estatura
<br>
Usuario: @ViewBag.usuario
<br>
Casado: @ViewBag.casado
<br>
Peso: @ViewBag.peso
<br>

<h3>Para el ejemplo de uso de Query String</h3>
<a asp-controller="Ejemplos" asp-action="EjemploQueryString1" asp-route-usuario="Pepe">Clic para enviar un parametro</a><br >
<a asp-controller="Ejemplos" asp-action="EjemploQueryString2" asp-route-usuario="Ana" asp-route-password="123456">Clic para enviar dos parametros</a>
<a asp-controller="Ejemplos" asp-action="EjemploQueryString3" asp-route-usuario="Ana" asp-route-password="123456">Clic para enviar dos parametros (con HttpContext)</a>
<br>